<nav class="navbar">
    <div class="nav-container">
        <img src="https://cdn.inspireuplift.com/uploads/images/seller_products/1680593478_42.png" alt="Logo"
            class="logo">
        <div class="items">
            <div class="item">men's shoes</div>
            <div class="item">women's shoes</div>
            <div class="item">kids' shoes</div>
            <div class="item">unisex shoes</div>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Just don't do it.">
            <button class="arrow-button">Go</button>
        </div>
    </div>
</nav>