.navbar {
    padding: 0 20px;
    height: 70px;
    border-bottom: 1px solid #ccc;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    height: 50px;
    margin-left: 2rem;
}

.items {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.item {
    margin: 0 20px;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 10px;
    width: 250px;
    border: 1.5px solid black;
    border-radius: 30px;
}

.selected {
    border-bottom: 2.5px solid #000000;
    font-weight: bolder;
}