.lottie-animation {
    padding: 3rem;
    background-color: var(--light-background);
    margin-top: 4rem;
    margin-left: 27rem;
    width: 40%;
    height: 100%;
    border-radius: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn {
    display: flex;
    margin: 0 auto;
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 17px;
    background-color: var(--light-orange);
    border: 1px solid var(--border-orange);
    border-radius: 5px;
    padding: 13px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all .1s;
}

.btn:active {
    box-shadow: 0px 2px 0px #d35400;
}