<h1>Catalogue</h1>
<ul>
  <li *ngFor="let product of products$ | async">
    <button (click)="addItemsToCart(product)">Add to cart</button>
    {{ product.title }} - {{ product.price | currency }}
  </li>
</ul>
<h2>Cart Items</h2>
<ul>
  <li *ngFor="let item of cartItems$ | async; let i = index">
    <button (click)="removeItemFromCartByIndex(i)">Remove from cart by index</button>
    {{ item.title }} - {{ item.price | currency }}
  </li>
  <li *ngIf="(cartItems$ | async)?.length === 0">No items</li>
</ul>
<h2>Total: {{ total$ | async | currency }}</h2>